<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }} Detector</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>{{ title }} Detector</h1>
    <div class="container">
        <div id="image-upload-wrap">

            <input id="file-upload-input" type='file' onchange="upload(this);" accept="image/*" />
            <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>

        <button type="button" onclick="removeUpload()" class="remove-image">Clear</button>

        <div class="row">
            <div id="original-image-container" class="column">
            </div>

            <div id="result-image-container" class="column">
            </div>
        </div>
    </div>

    <div id="modal">
      <span id="modal-close">&times;</span>
      <img id="modal-img">
      <div id="modal-caption"></div>
    </div>

    <script type="text/javascript" src="/static/js/common.js" ></script>
</body>

</html>
